<html>
  <head>
    <title>Delete all username</title>
  </head>
  <body>
    <div>
      <form action="/delete" method="POST">
        <input
          type="submit"
          value="Delete all username"
          onclick="return confirm('Are you sure you want to delete all users?')"
        />
      </form>
    </div>
  </body>
</html>
